# Cached files
__pycache__/
*.py[co]
*.class

# Build
dist/
build/
source/
egg/
*.egg
*.egg-info/

#Minimal Jython install for uploading and testing
jython.bat
jython.jar

#Sphinx autodoc
make.bat
Makefile
sphinx-build.exe
sphinx.build.exe.manifest
sphinx-build-script.py